<style>
.main-row {
	float: left;
	margin-bottom: calc(70px * 0.25); /* will have to rearrange based on actual keyboard layout */
}

.cell {
	float: left;
	margin-right: calc(70px * 0.25);
	height: 70px;
	width: 70px;
	background-color: blue;
	line-height: 70px;
	text-align: center;
}

.first-row {
	
}

.second-row {
	margin-left: calc(70px * 0.25);
}

.third-row {
	margin-left: calc(70px * 0.5);
}

</style>

<div class="main-row first-row">
	<div class="cell" id="Q"></div>
	<div class="cell" id="W"></div>
	<div class="cell" id="E"></div>
	<div class="cell" id="R"></div>
	<div class="cell" id="T"></div>
	<div class="cell" id="Y"></div>
	<!--<div class="cell" id="U"></div>
	<div class="cell" id="I"></div>-->
</div>
<div class="main-row second-row">
	<div class="cell" id="A"></div>
	<div class="cell" id="S"></div>
	<div class="cell" id="D"></div>
	<div class="cell" id="F"></div>
	<div class="cell" id="G"></div>
	<div class="cell" id="H"></div>
	<!--<div class="cell" id="J"></div>-->
</div>
<div class="main-row third-row">
	<div class="cell" id="Z"></div>
	<div class="cell" id="X"></div>
	<div class="cell" id="C"></div>
	<div class="cell" id="V"></div>
	<div class="cell" id="B"></div>
	<div class="cell" id="N"></div>
</div>



<!-- there might need to be some sort of cascading effect as content is slightly diagonal -->