<style>
.nav-item {
	line-height: 70px;
	background-color: pink;
	width: 12.5%; /* there are 8 of them */
	float: left;
	text-align: center;
}
</style>

<a href="/activeNav"><div class="nav-item">Clothing & Accessories</div></a>
<a href="/activeNav"><div class="nav-item">Jewelry</div></a>
<a href="/activeNav"><div class="nav-item">Craft Supplies & Tools</div></a>
<a href="/activeNav"><div class="nav-item">Weddings</div></a>
<a href="/activeNav"><div class="nav-item">Entertainment</div></a>
<a href="/activeNav"><div class="nav-item">Home & Living</div></a>
<a href="/activeNav"><div class="nav-item">Kids & Baby</div></a>
<a href="/activeNav"><div class="nav-item">Vintage</div></a>